<div class="menu">
	<div class="back"><i class="fa fa-chevron-left"></i> <img src="http://i.imgur.com/DY6gND0.png" draggable="false" /></div>
	<div class="name">Alex</div>
	<div class="last">18:09</div>
</div>
<ol class="chat" *ngFor="let msg of messages">
	<li class="other" *ngIf="msg.username!==currentUser">
		<div class="avatar"><img src="http://i.imgur.com/DY6gND0.png" draggable="false" /></div>
		<div class="msg">
			<p>{{msg.text}}</p>
			<time>20:17</time>
		</div>
	</li>
	<li class="self" *ngIf="msg.username==currentUser">
		<div class="avatar"><img src="http://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
		<div class="msg">
			<p>{{msg.text}}</p>
			<time>20:18</time>
		</div>
	</li>
</ol>

<input class="textarea" type="text" placeholder="Type here!" [(ngModel)]="message" (keyup.enter)="sendMessage()" />